*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html,body{
    width: 100%;
    height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}
#nav{
    height: 100px;
    width: 100%;
    background-color: white;
    display:flex;
     align-items:center ;
     justify-content: flex-end;
     gap: 30px;
     padding: 0% 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600px;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px;
    border-radius:50px ;

}
#center{
    width: 100%;
    /* background-color: red; */
    padding: 40px 50px;
}
#center h1{
    font-size: 80px;
    font-weight: 600;
    line-height: 70px;
}
#center-in{
    height: 200px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 20px;
    font-weight: 600;
    line: height 15px;;

}
#right{
    width: 20%;
}
.elem{
    /* background-color: yellow; */
    padding: 20px 0px;
    /* margin: 5px; */
    border-top:2px solid black ;
    display: flex;
      align-items: center;
    justify-content: space-between;
}
.elem a{
    color: #000;
   text-decoration: none;
   font-weight: 1000;
   font-size: 20px;
}
.elem i{
   font-size: 25px;
   font-weight: 1800;
   opacity: 0;
}
.elem:hover i {
    opacity:1;
}
.elem:hover{
    background-color: #eceaeaec;
}
#bottom {
    height: 45% ;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://plus.unsplash.com/premium_photo-1661284973462-4b0490733896?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1171);
    background-size: cover;
    background-position:0 35%;
}